html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* ensure body takes full viewport height */
}
body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
}
.editor {
    border: 2px solid hsl(0 0 25);
    border-radius: 5px;
    margin: 0px;
    padding: 4px;
    height: 100%; /* editor takes full available height */
    box-sizing: border-box; /* include padding and border in the element's total width and height */
    overflow: auto;
    scrollbar-color: hsl(0 0 50) hsl(0 0 10);
}
.editor:focus {
    outline: none;
    border-color: hsl(0 0 50);
}
.menu {
    z-index: 999; /* always on top */
    position: fixed;
    top: 4px;
    right: 4px;
    padding: 2px 14px;
    border-radius: 15px;
    cursor: pointer;
    color: darkorange;
    background-color: hsl(0 0 50 / 75%);
    transition: background-color 0.5s;
}
.menu:hover {
    color: lightgreen;
    background-color: hsl(0 0 10);
}
/*
The hsl syntax is convenient for specifying grey colors.
see https://drafts.csswg.org/css-color/#typedef-modern-hsl-syntax
*/
