body {
    color: white;
    background-color: #0A0A0A;
    font-family: Arial, sans-serif;
}
.editor {
    background-color: black;
    border: 2px solid darkblue;
    border-radius: 4px;
    margin: 0px;
    padding: 4px;
}
.editor:focus {
    outline: none;
    border-color: darkred;
}
