* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#documentation-modal {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    z-index: 999;
    border: 2px solid white; /* Add 2px white border */
    border-radius: 8px; /* Add 8px corner radius */
    background-color: black;
    color: white;
    font-family: monospace;
}

#documentation-modal h1 {
    text-align: center;
}

#documentation-modal pre {
    margin: 4px 15px; /* t b, l r */
}
