body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#documentation-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    border: 2px solid white; /* Add 2px white border */
    border-radius: 8px; /* Add 8px corner radius */
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: monospace;
}

#documentation-modal h1 {
    margin: 10px;
    text-align: center;
}

#documentation-modal pre {
    margin: 4px 15px; /* t b, l r */
}
