:root {
    --gap-size: 7px;
}
body {
    background-color: #222;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}
h1 {
    font-size: 120%;
}
.description {
    margin: 8px;
}
.z-axis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.y-axis {
    display: flex;
    flex-direction: column;
    /* effect: double gap between x,y block grids */
    margin: var(--gap-size); /* surrounding the x,y block grid */
    gap: var(--gap-size); /* vertical: in between block rows in a column */
}
.x-axis {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-size); /* horizontal: in between blocks in a row */
}
.block {
    width: 150px;
    height: 150px;
    background-color: dodgerblue;
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
}
