:root {
    /* Main colors */
    --bg-main: #000;
    --color-main: #fff;
    /* Snake and path */
    --snake-color: #1f5;
    /* Inputs and canvas */
    --bg-canvas-wrap: #111;
    --bg-canvas: #181818;
    --bg-input: #222;
    --color-input: #eee;
    --color-border-input: #444;
    /* UI Buttons */
    --bg-button: #222;
    --bg-button-hover: #333;
    --color-button: #6f6;
    --color-button-disabled: #444;
    --color-cancel: #f66;
    --opacity-button-disabled: 0.52;
    /* Status colors */
    --color-status-ok: #8f8;
    --color-status-error: #f66;
}

body {
    background: var(--bg-main);
    color: var(--color-main);
    font-family: Arial, sans-serif;
    text-align: center;
}
h1 {
    font-size: 150%;
}
#version {
    font-size: 40%;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.description {
    margin: 10px 0;
}
/* Inputs */
input[type="number"] {
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--color-border-input);
    margin: 0 16px 0 0;
    background: var(--bg-input);
    color: var(--color-input);
    font-size: 1em;
}
/* Buttons (common styles) */
button {
    padding: 6px 20px;
    font-size: 1em;
    border-radius: 8px;
    border: none;
    background: var(--bg-button);
    color: var(--color-button);
    cursor: pointer;
    transition: background 0.2s;
}

#cancel {
    margin-left: 16px;
    padding-right: 16px;
    padding-left: 16px;
    color: var(--color-cancel);
    display: none;
}

button:hover,
#cancel:hover {
    background: var(--bg-button-hover);
}

button:disabled {
    background: var(--bg-button);
    color: var(--color-button-disabled);
    cursor: auto;
    opacity: var(--opacity-button-disabled);
}

/* Canvas and wrapping */
#canvas-wrap {
    margin: 24px auto 14px auto;
    background: var(--bg-canvas-wrap);
    border-radius: 15px;
    padding: 10px;
    display: inline-block;
}
canvas {
    display: block;
    background: var(--bg-canvas);
    border-radius: 10px;
    margin: auto;
}
/* Status Display */
#status {
    font-size: 1em;
    color: var(--color-status-ok);
    min-height: 1.2em;
    text-align: center;
}
