body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    border: 2px solid white;
    border-radius: 11px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: monospace;
    padding: 5px 25px 0px 25px; /* top right bottom left */
}

#popup h1 {
    text-align: center;
}
