body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}
h1 {
    font-size: 150%;
}
.description {
    margin: 8px;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.color-box {
    display: inline-block;
    width: 100px;
    height: 100px;
}
#color-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
}
.cursor-display {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 2px;
}
