:root {
    --gap-size: 7px;
}
body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}
h1 {
    font-size: 150%;
}
.description {
    margin: 8px;
}
#count {
    width: 150px;
}
#box-size {
    width: 220px;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.z-axis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.y-axis {
    display: flex;
    flex-direction: column;
    /* effect: double gap between x,y block grids */
    margin: var(--gap-size); /* surrounding the x,y block grid */
    gap: var(--gap-size); /* vertical: in between block rows in a column */
}
.x-axis {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-size); /* horizontal: in between blocks in a row */
}
#pointer-display {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 2px;
    position: fixed;
    display: none;
}
.entire-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 99;
}
